.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 30%; /* Full width */
  height: 20%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(245, 245, 248); /* Fallback color */
  box-shadow: #f1f1f1;
}

.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: black;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
